.MemberFields {
	padding: 20xp;
	border: 1px solid black;
}
.fieldSet {
	padding: 10px;
	margin-bottom: 10px;
}
.label {
	margin-right: 10px;
}

.box {
	background-color: gray;
	display: inline-block;
	width: 90px;
	height: 1em;
}
