.TopBar {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background: #424242;
}

.controls {
	display: flex;
}

.controlsItem {
	padding: 5px 10px;
	font-size: 1rem;
	line-height: 1rem;
	// color: #e2e2e2;
	margin: 0 10px;
	&:first-child,
	&:last-child {
		margin: 0;
	}
	cursor: pointer;
}

.controlsItemButton {
	color: #e2e2e2;
	background: transparent;
	border: none;
}

.disabled {
	pointer-events: none;	
}

.greeting {
	color: #CCC;
}
