.TopBar {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background: #424242;
}

.controls {
	display: flex;
}

.controlsItem {
	margin: 0 10px;
	&:first-child,
	&:last-child {
		margin: 0;
	}
}
